{% extends "base.html" %}
{% block content %}
<div class="flex justify-center w-full">
    <div class="flex flex-col justify-center items-center sm:w-full xl:w-1/2">
        <div class="text-nord6 font-bold text-4xl mb-16">
            <h1>Minetest Server Web Gui</h1>
        </div>
        <div id="notifications" class="w-full">

        </div>
        <div id="console" class="w-full bg-nord1 text-nord4 rounded shadow-inner mb-8">
            <div id="console_output" class="p-2 h-64 overflow-y-auto">
                
            </div>
            <!-- I think I need help with this thing of executing commands from here -->
            <!-- <div class="w-full p-2">
                <form action="" class="flex items-center">
                    <span>Execute command:</span><input type="text" class="ml-2 block bg-nord2 shadow-inner w-64 rounded p-1">
                </form>
            </div> -->
        </div>
        <div class="flex flex-wrap justify-evenly w-full text-nord0">
            <div class="mr-2 mb-2">
                <button onclick="start_server()" class="py-3 w-32 rounded bg-nord14 font-bold uppercase">Start</button>
            </div>
            <div class="mr-2 mb-2">
                <button onclick="stop_server()" class="py-3 w-32 rounded bg-nord11 font-bold uppercase">Stop</button>
            </div>
            <div class="mr-2 mb-2">
                <button onclick="restart_server()" class="py-3 w-32 rounded bg-nord12 font-bold uppercase">Restart</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='console.js') }}"></script>
<script>
    function hide(id) {
        document.getElementById(id).classList.add('hidden')
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function start_server() {
        let http = new XMLHttpRequest();
        http.open("GET", "{{ url_for('console.start') }}");
        http.send();

        http.onreadystatechange=function() {
            if (this.readyState == 4 && this.status == 200) {
                json = JSON.parse(http.responseText);
                r = Math.floor((Math.random() * 1000) + 1);  // random number for notifications so I can close them
                document.getElementById('notifications').innerHTML += `<div id="notification-${r}" class="flex justify-between w-full mb-8 p-4 rounded shadow text-nord1 ${json.category}">
                        <div>
                            ${json.msg}
                        </div>
                        <div>
                            <button onclick="hide('notification-${r}')" class="focus:outline-none"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg></button>
                        </div>
                    </div>`
            }
        }
    }

    function stop_server() {
        let http = new XMLHttpRequest();
        http.open("GET", "{{ url_for('console.stop') }}");
        http.send();

        http.onreadystatechange=function() {
            if (this.readyState == 4 && this.status == 200) {
                json = JSON.parse(http.responseText);
                r = Math.floor((Math.random() * 1000) + 1);  // random number for notifications so I can close them
                document.getElementById('notifications').innerHTML += `<div id="notification-${r}" class="flex justify-between w-full mb-8 p-4 rounded shadow text-nord1 ${json.category}">
                        <div>
                            ${json.msg}
                        </div>
                        <div>
                            <button onclick="hide('notification-${r}')" class="focus:outline-none"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg></button>
                        </div>
                    </div>`
            }
        }
    }

    async function restart_server() {
        stop_server();
        await sleep(1000);
        start_server();
    }
</script>
{% endblock scripts %}